body {
    background-color: #001e2c;
}

.menu-home {
    position: absolute;
    width: 150px;
    height: 300px;
    /* border: white dotted; */
    margin-top: 150px;
    padding-right: 130px;
    left: -86px;
    display: flex;
}

.html-tag {
    font-family: monospace;
    color: white;
}

.html-tag p {
    margin: 0;
}

.container-home {
    position: absolute;
    right: 0;
    top: 0;
    width: 81%;
    height: 100%;
    /* border: white dotted; */
    text-align: center;
}